{% extends 'base.html.twig' %}
    {% block body %}
        {{ form_start(form) }}
        <div>
        {{ form_errors(form) }}
        </div>
        <div>
        {{ form_row(form.title) }}
        </div>
        <div>
        {{ form_row(form.content) }}
        </div>
        <div>
        {{ form_row(form.date) }}
        </div>
    {{ form_end(form) }}
    
{% endblock %}